*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}




/*====================================================================media query================================================================*/
/*====================================================================media query================================================================*/
/*====================================================================media query================================================================*/
/*====================================================================media query================================================================*/



   
 
   
  